<div mat-dialog-title>
    <h1>Contact Details</h1>
</div>
<form [formGroup]="dataForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Ex. John" formControlName = "firstName">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Doe" formControlName = "lastName">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Telephone</mat-label>
                <span matPrefix>+91 &nbsp;</span>
                <input type="tel" matInput placeholder="555-555-1234" formControlName = "phoneNumber">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions id="action">
        <button mat-stroked-button id="cancelBtn" mat-dialog-close>Cancel</button>
        <button mat-stroked-button id="saveBtn" type="submit" mat-dialog-close>Save</button>
    </div>
</form>